include/urcu/arch.h
include/urcu/uatomic.h
tests/api.h


tests/unit/urcu-asm.S
tests/unit/test_uatomic
tests/unit/test_urcu_multiflavor
tests/unit/test_urcu_multiflavor_dynlink
tests/unit/test_urcu_multiflavor_single_unit
tests/unit/test_urcu_multiflavor_single_unit_dynlink

tests/utils/libtap.a

tests/regression/rcutorture_urcu_membarrier
tests/regression/rcutorture_urcu_bp
tests/regression/rcutorture_urcu_mb
tests/regression/rcutorture_urcu_qsbr
tests/regression/rcutorture_urcu_signal
tests/regression/test_urcu_fork.tap
tests/regression/rcutorture*.tap

tests/benchmark/test_rwlock_timing
tests/benchmark/test_urcu
tests/benchmark/test_urcu_dynamic_link
tests/benchmark/test_urcu_timing
tests/benchmark/test_urcu_yield
tests/benchmark/test_looplen
tests/benchmark/test_mutex
tests/benchmark/test_perthreadlock
tests/benchmark/test_perthreadlock_timing
tests/benchmark/test_qsbr
tests/benchmark/test_qsbr_dynamic_link
tests/benchmark/test_qsbr_gc
tests/benchmark/test_qsbr_lgc
tests/benchmark/test_qsbr_timing
tests/benchmark/test_rwlock
tests/benchmark/test_urcu_gc
tests/benchmark/test_urcu_gc_mb
tests/benchmark/test_urcu_lgc
tests/benchmark/test_urcu_lgc_mb
tests/benchmark/test_urcu_mb
tests/benchmark/test_urcu_mb_defer
tests/benchmark/test_urcu_assign
tests/benchmark/test_urcu_assign_dynamic_link
tests/benchmark/test_urcu_bp
tests/benchmark/test_urcu_bp_dynamic_link
tests/benchmark/test_cycles_per_loop
tests/benchmark/test_urcu_defer
tests/benchmark/test_urcu_hash
tests/benchmark/test_urcu_lfq
tests/benchmark/test_urcu_lfq_dynlink
tests/benchmark/test_urcu_lfs
tests/benchmark/test_urcu_lfs_dynlink
tests/benchmark/test_urcu_mb_gc
tests/benchmark/test_urcu_mb_lgc
tests/benchmark/test_urcu_qsbr
tests/benchmark/test_urcu_qsbr_dynamic_link
tests/benchmark/test_urcu_qsbr_gc
tests/benchmark/test_urcu_qsbr_lgc
tests/benchmark/test_urcu_qsbr_timing
tests/benchmark/test_urcu_signal
tests/benchmark/test_urcu_signal_dynamic_link
tests/benchmark/test_urcu_signal_gc
tests/benchmark/test_urcu_signal_lgc
tests/benchmark/test_urcu_signal_timing
tests/benchmark/test_urcu_signal_yield
tests/benchmark/test_urcu_wfq
tests/benchmark/test_urcu_wfq_dynlink
tests/benchmark/test_urcu_wfs
tests/benchmark/test_urcu_wfs_dynlink
tests/benchmark/test_urcu_ja
tests/benchmark/test_urcu_ja_range
tests/benchmark/test_urcu_lfs_rcu
tests/benchmark/test_urcu_lfs_rcu_dynlink
tests/benchmark/test_urcu_wfcq
tests/benchmark/test_urcu_wfcq_dynlink

tests/benchmark/*.log
*.so
*.exe

doc/examples/urcu-flavors/qsbr
doc/examples/urcu-flavors/mb
doc/examples/urcu-flavors/membarrier
doc/examples/urcu-flavors/signal
doc/examples/urcu-flavors/bp

doc/examples/list/cds_list_add_rcu
doc/examples/list/cds_list_add_tail_rcu
doc/examples/list/cds_list_del_rcu
doc/examples/list/cds_list_for_each_rcu
doc/examples/list/cds_list_for_each_entry_rcu
doc/examples/list/cds_list_replace_rcu

doc/examples/hlist/cds_hlist_add_head_rcu
doc/examples/hlist/cds_hlist_del_rcu
doc/examples/hlist/cds_hlist_for_each_rcu
doc/examples/hlist/cds_hlist_for_each_entry_rcu

doc/examples/wfcqueue/cds_wfcq_enqueue
doc/examples/wfcqueue/cds_wfcq_dequeue
doc/examples/wfcqueue/cds_wfcq_splice

doc/examples/rculfqueue/cds_lfq_enqueue
doc/examples/rculfqueue/cds_lfq_dequeue

doc/examples/wfstack/cds_wfs_push
doc/examples/wfstack/cds_wfs_pop
doc/examples/wfstack/cds_wfs_pop_all_blocking

doc/examples/lfstack/cds_lfs_push
doc/examples/lfstack/cds_lfs_pop_blocking
doc/examples/lfstack/cds_lfs_pop_all_blocking

doc/examples/rculfhash/cds_lfht_add
doc/examples/rculfhash/cds_lfht_add_unique
doc/examples/rculfhash/cds_lfht_add_replace
doc/examples/rculfhash/cds_lfht_del
doc/examples/rculfhash/cds_lfht_destroy
doc/examples/rculfhash/cds_lfht_lookup
doc/examples/rculfhash/cds_lfht_for_each_entry_duplicate

#automake
/include/config.h
.deps/
.libs/
Makefile.in
Makefile
*.la
*.bz2
*.o
*.lo
*.loT
*.log
*.trs
/config.log
/configure
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/test-driver
/aclocal.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/libtool
/include/stamp-h1
/include/config.h.in
/config.status
/autom4te.cache/
config.h
stamp-h2
liburcu.pc
liburcu-bp.pc
liburcu-cds.pc
liburcu-qsbr.pc
liburcu-mb.pc
liburcu-signal.pc
